:root {
	box-sizing: border-box;
}

*,
*::before,
*::after {
	box-sizing: inherit;

	--background: #181719;
	--font: #ffffff;
	--gray-2: #a9a9a9;
	--gray-3: #828282;
}

body {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	min-height: 100vh;
	background-color: var(--background);
	color: var(--font);
	padding: 2.625rem 4.75rem 1.5rem;
	margin: 0;
	font-family: "Montserrat", sans-serif;
	font-weight: 400;
}

header,
main {
	width: 100%;
	max-width: 1288px;
	margin-left: auto;
	margin-right: auto;
}

a,
a:visited {
	color: var(--font);
}

header {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

span.material-symbols-outlined {
	display: none;
	font-size: 2.125rem;
}

h2 {
	display: block;
	margin: 0;
	padding: 0.5rem;
	border: 1px var(--font) solid;
	font-family: "Crimson Pro", serif;
	font-weight: 200;
	font-size: 0.875rem;
	text-transform: uppercase;
}

header a {
	text-decoration: none;
}

ul {
	display: flex;
	margin: 0;
	padding-left: 0;
	justify-content: space-between;
	gap: 5.375rem;
	list-style: none;
}

li {
	display: inline-block;
	font-family: "Montserrat", sans-serif;
	font-weight: 500;
	font-size: 1.125rem;
	padding: 0.5rem 0;
}

li:first-child {
	font-weight: 700;
	border-bottom: 1px var(--font) solid;
}

main {
	display: flex;
	justify-content: space-between;
}

section.description {
	display: flex;
	flex-direction: column;
	justify-content: center;
	max-width: 410px;
	gap: 2.5rem;
}

h1 {
	font-family: "Lora", serif;
	font-weight: 500;
	font-size: 3rem;
	margin: 0;
}

section.description p {
	font-size: 1.5rem;
	margin: 0;
}

section.description a {
	font-size: 1.125rem;
	font-weight: 700;
	text-decoration: none;
}

section.photo {
	position: relative;
	object-fit: contain;
}

section.photo > img {
	display: block;
	width: 100%;
	max-width: 738px;
}

div.author-wrapper {
	display: flex;
	flex-direction: column;
	position: absolute;
	bottom: 0;
	right: 2rem;
	transform: translateY(50%);
	background-color: var(--background);
	padding: 1rem 1.625rem;
	box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 25%);
}

h3 {
	font-family: "Lora", serif;
	font-weight: 700;
	font-size: 1.5rem;
	max-width: 70%;
}

div.author-img-wrapper {
	display: flex;
	gap: 1rem;
}

div.author-img-wrapper > img {
	display: block;
	max-width: 50px;
	max-height: 50px;
	border-radius: 50%;
}

div.name-wrapper {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	font-weight: 500;
}

div.name-wrapper span:first-child {
	font-size: 0.875rem;
}

div.name-wrapper span:last-child {
	font-size: 0.75rem;
	color: var(--gray-3);
}

footer {
	text-align: center;
	margin-top: 5.5rem;
	font-weight: 500;
	color: var(--gray-2);
}

footer a,
footer a:visited {
	font-weight: 700;
	color: var(--gray-2);
}

@media (max-width: 1023px) {
	main {
		flex-direction: column;
	}

	h1 {
		font-size: 2.25rem;
	}

	section.description p {
		font-size: 0.875rem;
	}

	section.description a {
		font-size: 0.875rem;
	}

	div.name-wrapper span:first-child {
		font-size: 0.75rem;
	}

	div.name-wrapper span:last-child {
		font-size: 0.625rem;
	}

	h3 {
		font-size: 1.125rem;
	}

	nav {
		display: none;
	}

	span.material-symbols-outlined {
		display: block;
	}
}
